<ul class="nav nav-expand-sm content-justify-center">
    <li class="nav-item">
        <a class="nav-link" routerLink="/home/viprofile">View profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/home/edit">Edit profile</a>
    </li>
</ul>