<div class="container">
    <h2 class="text-center text-info"><u>MAKE YOUR PAYMENT</u></h2>
    <form #ref4="ngForm" (ngSubmit)='dopay(ref4.value)'>
        <div class="form-group">
            <label>owner name:</label>
            <input type="text" name="owner" class="form-control" ngModel #ref1="ngModel" required>
            <label *ngIf="ref1.invalid && ref1.touched" class="text-danger">*this field are mandatory</label>
        </div>
        <div class="form-group">
            <label>Address:</label>
            <textarea type="text" name="address1" rows="5" id="" class="form-control" ngModel #ref2="ngModel"
                required></textarea>
            <label *ngIf="ref2.invalid && ref2.touched" class="text-danger">*this field are mandatory</label>
        </div>
        <div class="form-group">
            <label>Date:</label>
            <input type="date" name="month" class="form-control" ngModel #ref3="ngModel" required>
            <label *ngIf="ref3.invalid && ref3.touched" class="text-danger">*this field are mandatory</label>
        </div>
        <div class="form-group">
            <label>Amount:</label>
            <input type="number" name="amount" class="form-control" ngModel #ref5="ngModel" required>
            <label *ngIf="ref5.invalid && ref5.touched" class="text-danger">*this field are mandatory</label>
        </div>
        <div class="form-group">
            <label>Account Number:</label>
            <input type="text" name="acno" class="form-control" ngModel #ref6="ngModel" required>
            <label *ngIf="ref6.invalid && ref6.touched" class="text-danger">*this field are mandatory</label>
        </div>
        <div class="form-group">
            <label>IFSC Code:</label>
            <input type="type" name="code" class="form-control" ngModel #ref7="ngModel" required>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success">PAY</button>
        </div>
    </form>
</div>