<div class="container">
    <h2 class="text-center text-warning">OTP Verification</h2>
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #ref="ngForm" (ngSubmit)='otp(ref.value)'>
                <div class="form-group">
                    <label for="">Enter OTP:</label>
                    <input type="number" name="OTP" class="form-control" ngModel>
                    <P>OTP expires in 1 minute</P>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>