<div class="container">
    <h3 class="text-warning">VENDOR DASHBOARD</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="form-control">
                    <a routerLink="/home/profile">Profile</a>
                </div>
                <div class="form-control">
                    <a routerLink="whoomtolet">Whom to let</a>
                </div>
                <div class="form-control">
                    <a routerLink="payments">Payments</a>
                </div>
                <div class="">
                    <button class="btn text-primary" (click)='logout()'>Logout</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>