<div class="container">
    <table class="table">
        <thead>
            <th>Account No.</th>
            <th>IFSC Code</th>
            <th>Googlepay No.</th>
        </thead>
        <tr *ngFor='let obj of payment'>
            <td>{{obj.account}}</td>
            <td>{{obj.ifsc}}</td>
            <td>{{obj.pay}}</td>

        </tr>
    </table>
</div>