<div class="table-responsive">
    <h4 class="text-center">OWNER DETAILS</h4>
    <table class="table">
        <thead class="thead-dark">
            <th>Name</th>
            <th>DOB</th>
            <th>Address</th>
            <th>Mobileno</th>
            <th>Mail</th>
            <th>Usertype</th>
        </thead>
        <tr *ngFor='let obj of data'>
            <td>{{obj.username}}</td>
            <td>{{obj.date}}</td>
            <td>{{obj.address}}</td>
            <td>{{obj.number}}</td>
            <td>{{obj.email}}</td>
            <td>{{obj.user}}</td>
        </tr>
    </table>
</div>
<div class="table-responsive">
    <h4 class="text-center">VENDOR DETAILS</h4>
    <table class="table">
        <thead class="thead-dark">
            <th>Name</th>
            <th>DOB</th>
            <th>Address</th>
            <th>Mobileno</th>
            <th>Mail</th>
            <th>Usertype</th>
        </thead>
        <tr *ngFor='let obj of data1'>
            <td>{{obj.username}}</td>
            <td>{{obj.date}}</td>
            <td>{{obj.address}}</td>
            <td>{{obj.number}}</td>
            <td>{{obj.email}}</td>
            <td>{{obj.user}}</td>
        </tr>
    </table>
</div>
<button class="btn btn-success" (click)='logout()'>Logout</button>