<div class="container">
        <h3 class="text-danger bg-info">House Type Details</h3>

        <form #ref="ngForm" (ngSubmit)='addhouse(ref.value)'>
                <div class="form-group">
                        <label>HouseType:</label>*
                        <input type="text" name="house" class="form-control" ngModel>
                </div>
                <div class="form-group">
                        <label>Address:</label>*
                        <textarea name="address" id="" rows="5" class="form-control" ngModel #ref1="ngModel"
                                required></textarea>
                        <label *ngIf="ref1.invalid && ref1.touched" class="text-danger">*this field is mandatory</label>
                </div>
                <div class="form-group">
                        <label>Rules:</label>
                        <textarea name="rules" id="" rows="5" class="form-control" ngModel></textarea>
                </div>
                <div class="form-group">
                        <label>Rent:</label>
                        <input type="number" name="rent" class="form-control" ngModel>
                </div>
                <div class="form-group">
                        <label>Image:</label>
                        <input type="file" name="image" class="form-control" ngModel>
                </div>
                <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">ADD</button>
                </div>
        </form>
</div>