<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <th>vendorname</th>
                    <th>address</th>
                    <th>email</th>
                    <th>number</th>
                    <th>eRent</th>
                    <th>Status</th>
                </thead>
                <tr *ngFor='let view of clients'>
                    <td>{{view.vendorname}}</td>
                    <td>{{view.address}}</td>
                    <td>{{view.email}}</td>
                    <td>{{view.number}}</td>
                    <td>{{view.eRent}}</td>
                    <td>
                        <div *ngIf='view !=undefined'>
                            <button type="submit" class="btn btn-success" (click)='accept(view)'>Accept</button>
                            <button type="submit" class="btn btn-danger mt-1" (click)='reject(view)'>Reject</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>