<div class="table-responsive">
    <h4 class="text-center">VIEW PROFILE</h4>
    <table class="table ">
        <tr>
            <td>Name:</td>
            <td>{{currentuser.username}}</td>
        </tr>
        <tr>
            <td>DOB:</td>
            <td>{{currentuser.date}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{currentuser.email}}</td>
        </tr>
        <tr>
            <td>Mobile No. :</td>
            <td>{{currentuser.number}}</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>{{currentuser.address}}</td>
        </tr>
        <tr>
            <td>Typeof user:</td>
            <td>{{currentuser.user}}</td>
        </tr>
    </table>
</div>