<div class="container">
    <table class="table">
        <thead>
            <th>HouseType</th>
            <th>Address</th>
            <th>Rent</th>
            <th>Image</th>
        </thead>
        <tr *ngFor='let obj of house'>
            <td>{{obj.house}}</td>
            <td>{{obj.address}}</td>
            <td>{{obj.rent}}</td>
            <td>{{obj.image}}</td>
            <button class="btn btn-danger" (click)='delete(obj.address)'>delete</button>
        </tr>
    </table>
</div>