<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="text-center text-warning"><U>REGISTRATION FORM</U></h2>
            <form #ref="ngForm" (ngSubmit)='Change(ref.value)'>
                <div class="form-group">
                    <label>ENTER NAME</label>*
                    <input type="text" name="username" class="form-control" ngModel #ref1="ngModel" required>
                    <label *ngIf="ref1.invalid && ref1.touched">
                        <div class="text-danger">*this field is mandatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label>DATE OF BIRTH</label>
                    <input type="date" name="date" class="form-control" ngModel>
                </div>
                <div class="form-group">
                    <label>EMAIL ID</label>
                    <input type="text" name="email" class="form-control" ngModel>
                </div>
                <div class="form-group">
                    <label for="mobile">MOBILE NO.</label>
                    <input type="tel" name="number" id="mobile" class="form-control" ngModel #ref2="ngModel"
                        minlength='10' maxlength='10'>
                    <label *ngIf="ref2.invalid" class="text-danger">*this field contain atleast 10 digits</label>
                </div>
                <div class="form-group">
                    <label>PASSWORD</label>*
                    <input type="password" name="upassword" class="form-control" ngModel #ref3="ngModel" minlength="5">
                    <label *ngIf="ref3.invalid" class="text-danger">*this field contain atleast 5 characters</label>
                </div>
                <div class="form-group">
                    <label>ADDRESS</label>
                    <textarea name="address" id="" rows="5" class="form-control" ngModel></textarea>
                </div>
                <label>TYPE OF USER:</label>*
                <div><label *ngIf="ref4.invalid" class="text-danger">*user is mandatory</label></div>
                <div class="form-check">
                    <label for="c" class="form-check-label">
                        <input type="radio" name="user" id="c" value="owner" class="form-check-input" ngModel
                            #ref4="ngModel" required>Owner
                    </label>
                </div>
                <div class="form-check">
                    <label for="h" class="form-check-label">
                        <input type="radio" name="user" id="h" value="vendor" class="form-check-input" ngModel
                            #ref4="ngModel" required>Vendor
                    </label>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success" type="submit">REGISTER</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-3"></div>