<ul class="nav nav-expand-sm content-justify-center">
    <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/viewprofile">ViewProfile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/editprofile">EditProfile</a>
    </li>
</ul>